<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuMaster.Data" version="2.8.2020.625" targetFramework="net45" />
  <package id="CompuMaster.Data.XlsEpplus" version="2.2.2019.1224" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net45" />
  <package id="NetOfficeFw.Core" version="1.8.0" targetFramework="net48" />
  <package id="NetOfficeFw.Outlook" version="1.8.0" targetFramework="net48" />
</packages>